@media only screen and (max-width: 1024px) {
    .errorPage {
        &__headerOops {
            padding: 5% 0%;
            font-size: 3rem;
        }

        &__headerNotFound,
        &__headerPlayGame {
            margin: 6% 0%;
        }
    }

    .backBtn {
        padding: 1% 2%;
        font-size: 1.5rem;
        bottom: 10%;
        left: 37%;
    }
}

@media only screen and (max-width: 770px) {

    iframe {
        width: 700px;
        height: 450px;
    }

    .backBtn {
        bottom: 10%;
        left: 34%;
    }
}

@media only screen and (max-width: 415px) {
    iframe {
        width: 350px;
        height: 250px;
    }

    .backBtn {
        font-size: 1.3rem;
        bottom: 7%;
        left: 25%;
    }
}