//FontStyle
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

//mixin
@import './mixin/mixin';

//components
@import './components/sidebar';
@import './components/rightSide';

//pages
@import './errorPage';

//Media query
@import './mediaQuery/rightSide';
@import './mediaQuery/sidebar';

html,
body,
h3,
p {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.error {
    color: red;
}

span {
    font-size: 0.8rem;
}