.rightSide {
    background-color: burlywood;
    width: 80%;
    position: absolute;
    top: 0;
    left: 20%;
}

// .users {
//     &__info {
//         // display: grid;
//         // grid-template-columns: repeat(4, 1fr);
//     }
// }