//Left side of the main page
.sideBar {
    background-color: #1e3d59;
    width: 20%;
    padding: 1% 0%;
    height: 100vh;
    position: fixed;
    display: block;
    text-align: center;
    color: #f5f0e1;
    z-index: 1;

    //Form to add new user
    &__form {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 5% auto;

        & input {
            @include inputStyle;



            &::placeholder {
                text-align: center;
                color: black;
            }
        }

        &--formBtn {
            @include inputStyle;
            background-color: #ffc13b;
            font-weight: bold;
        }
    }
}

//Search
.searchArea {
    width: 23%;
    padding: 0.5% 0.5% 0.5% 2.5%;
    font-size: 1rem;
    border: none;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 2vh;
    left: 72%;
    border-radius: 0.5rem;

    &__img {
        width: 1.5%;
        position: absolute;
        top: 2.7%;
        left: 72.3%;
    }
}