<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
</head>

<div class="errorPage">
    <h1 class="errorPage__headerOops">Oops!</h1>

    <h1 class="errorPage__headerNotFound">The page you are looking for can't be found..</h1>

    <h2 class="errorPage__headerPlayGame">But don't worry, now you can see some funny video!</h2>

    <iframe src="https://www.youtube.com/embed/FqC2lO3Yy_4" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <a href="/" class="backBtn">Back to main page</a>

</div>