<div class="sideBar">
    <% if (error) { %>
        <span>
            <%-error %>
        </span>

        <% } %>

            <h2>Adding new user to the list</h2>
            <form action="/addUser" method="POST" class="sideBar__form">
                <input type="text" name="Name" id="Name" placeholder="User name" required>
                <input type="text" name="ID" id="ID" placeholder="User ID" required minlength="5">
                <input type="text" name="IP" id="IP" placeholder="User IP" required>
                <input type="text" name="Phone" id="Phone" placeholder="User phone number" value="+972-" required
                    minlength="9">

                <button type="submit" class="sideBar__form--formBtn">Save</button>
            </form>

            <div id="ipapi"></div>

</div>